# Godot 4+ specific ignores
.godot/
/android/
/addons/bettertable
/addons/explore-editor-theme
/addons/godot_table
/addons/resources_spreadsheet_view
/addons/script-ide
/example
/addons/addon_toggler
/addons/album_manager
/addons/alicetest
/addons/licenses
/examples
/addons/discord-rpc-gd
